.container{
    background-image: url(../assets/bg.jpg);
      height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100%;
  min-width: 100%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;

  }

  .title{
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
    color: rgba(255, 255, 255, 0.986);
    font-size: xx-large;
    text-align: center;
    margin-top: 2cm
}


  